<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Help</title>
</head>
<body>
    <h1>Student Advising Details</h1>

    <form method="GET" action="{% url 'quick_help_page' %}">
        <label for="student_id">Search by Student ID:</label>
        <input type="text" name="student_id" id="student_id">
        <button type="submit">Search</button>
    </form>

    {% if student_id_search %}
        <h2>Details for Student ID: {{ student_id_search }}</h2>
        {% for student_advising in student_advisings %}
            <div>
                <p><strong>Ticket ID:</strong><a href="{% url 'ticket_details' ticket_id=student_advising.ticket_id %}"> {{ student_advising.ticket_id }}</a></p>
                <p><strong>Status:</strong> {{ student_advising.status }}</p>

                {% if student_advising.status == 'Closed' %}
                    <p><strong>Resolution:</strong> {{ student_advising.resolution }}</p>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No Student ID entered. Please use the search form above.</p>
    {% endif %}
</body>
</html>
